<div class="row">
  <div class="col-md-12 game-state">{{ game.gameStatus }}</div>
  <div class="col-md-12 game-state">{{ game.nextPlayer }}</div>
</div>
<div class="position-center">
  <div class="board">
    <div class="section endsection">
      <div class="pot end-section-height" id="mb">
        <div class="end-section-inner-text">
          {{ getPlayerHouseCount("PLAYER_TWO") }}
        </div>
      </div>
    </div>
    <div class="section midsection">
      <div class="midrow topmid">
        <div
          (click)="onMove(pit)"
          class="pot"
          id="pt1"
          *ngFor="let pit of getPlayerPits('PLAYER_TWO')"
        >
          <div class="pot-inner-text">{{ pit.stoneCount }}</div>
        </div>
      </div>
      <div class="midrow botmid">
        <div
          (click)="onMove(pit)"
          class="pot"
          id="pt1"
          *ngFor="let pit of getPlayerPits('PLAYER_ONE')"
        >
          <div class="pot-inner-text">{{ pit.stoneCount }}</div>
        </div>
      </div>
    </div>
    <div class="section endsection">
      <div class="pot end-section-height" id="mt">
        <div class="end-section-inner-text">
          {{ getPlayerHouseCount("PLAYER_ONE") }}
        </div>
      </div>
    </div>
  </div>
</div>
