.position-center {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.game-state {
  padding: 5px;
  font-size: 20px;
  text-transform: uppercase;
  color: white;
}

.player-banner {
  position: absolute;
  left: 50%;
  color: white;
}

.player1 {
  top: 10px;
}

.player2 {
  bottom: 10px;
}

.board {
  position: relative;
  display: flex;
  background-color: #679186;
  width: 1200px;
  height: 350px;
  border-radius: 50px;
  padding: 30px;
  border: 2px solid white;
}

.section {
  margin: 5px;
}

.endsection {
  display: flex;
  flex-grow: 1;

  .pot {
    &:hover {
      cursor: not-allowed;
      background-color: rgba(255, 255, 255, 0.08);
    }
  }
}

.midsection {
  display: flex;
  flex-direction: column;
  flex-grow: 6;
}

.midrow {
  display: flex;
  flex-grow: 1;
}

.pot {
  position: relative;
  background-color: rgba(255, 255, 255, 0.08);
  flex-grow: 1;
  margin: 5px;
  border-radius: 50px;
  height: 120px;
  width: 120px;
  font-size: 50px;
  text-align: center;
  transition: all 0.3s ease;
  border: 2px solid #99c4b8;

  &:hover {
    cursor: pointer;
    background-color: antiquewhite;
  }
}

.bead {
  position: absolute;
  border-radius: 50%;
  width: 25px;
  height: 25px;
}

.pot-inner-text {
  padding-top: 20px;
}

.end-section-height {
  height: 278px !important;
}

.end-section-inner-text {
  padding-top: 100px;
}
