<div class="center-align">
  <h1 class="text-center text-white">KALAH</h1>
  <hr />
  <form [formGroup]="gameForm" class="row wd-100 m-auto my-5">
    <div class="col-md-2 offset-md-3">
      <!-- <label for="playerOneName">Player 1: </label> -->
      <input
        id="playerOneName"
        placeholder="Player 1 Name"
        type="text"
        formControlName="playerOneName"
        class="form-control"
      />
    </div>
    <div class="col-md-2">
      <!-- <label for="playerTwoName">Player 2: </label> -->
      <input
        id="playerTwoName"
        placeholder="Player 2 Name"
        type="text"
        formControlName="playerTwoName"
        class="form-control"
      />
    </div>
    <div class="col-md-3">
      <button (click)="createNewGame()" class="btn btn-primary">
        Start New Game
      </button>
    </div>
  </form>
</div>
